<h1>Payment#payment</h1>
<p>Find me in app/views/payment/payment.html.erb</p>

<table>
  <tr>
    <th>Uid</th>
    <th>Buid</th>
    <th>Amount</th>
    <th></th>
  </tr>

<% @transactions.each do |trans| %>
  <tr>
    <td><%= trans.luid %></td>
    <td><%= trans.buid %></td>
    <td><%= trans.amount %></td>
    <td><%= link_to 'repay', trans, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
